# Database
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=changeme

# WordPress
WP_URL=https://tudominio.com
WP_TITLE=LogiSpark
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=changeme
WP_ADMIN_EMAIL=tu@email.com
